body {
      margin: 0;
      font-family: sans-serif;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      background-color: #333;
      color: white;
    }

    .nav-links {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .nav-links li {
      margin-left: 20px;
    }

    .nav-links a {
      color: white;
      text-decoration: none;
    }

    .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
    }

    .hamburger span {
      width: 25px;
      height: 3px;
      background-color: white;
      margin: 2px 0;
      transition: 0.3s;
    }

    @media (max-width: 768px) {
      .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #444;
        text-align: center;
      }

      .nav-links.active {
        display: flex;
      }

      .nav-links li {
        margin: 15px 0;
      }

      .hamburger {
        display: flex;
      }
    }

    .text-1{
      font-size: 50px;
      font-weight: 700;
      color: #FFF;
      background-color: black;
    }